company_xsd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="company">

<xs:complexType>
<xs:sequence>
<xs:element name="employee" maxOccurs="unbounded" minOccurs="0">
    <xs:complexType>
            <xs:sequence>
               <xs:element type="xs:string" name="empname"/>
               <xs:element type="xs:byte" name="empage"/>
               <xs:element type="xs:short" name="empsalary"/>
               <xs:element type="xs:string" name="empemailid"/>
               <xs:element type="xs:long" name="empphonenum"/>
               <xs:element type="xs:string" name="empdesignation"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="eid" use="optional"/>
    </xs:complexType>
</xs:element>
<element name="empsalary">
</xs:sequence>
</xs:complexType>

</xs:element>
</xs:schema>

